<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamproject.meeting.mapper.MeetingParticipantMapper">
    <insert id="createMeeting" useGeneratedKeys="true" keyProperty="meetingParticipantId">
    	INSERT INTO MEETINGPARTICIPANT(meetingId, userId, emailNotification, role, permission, timetableCase, voteCase)
    	VALUES (#{meetingId}, #{userId}, #{emailNotification}, #{role}, #{permission}, #{timetableCase}, #{voteCase})
    </insert>
</mapper>