<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamproject.meeting.mapper.MeetingMapper">
    <select id="getMeetings" resultType="com.teamproject.meeting.dto.meeting.MeetingListReqDto">
    	SELECT
        	m.meeting_id,
        	m.title,
        	m.start_time,
        	m.end_time,
        	m.location_type,
        	m.meeting_state,
        	m.location,        
        	COUNT(p_all.meeting_participant_id) AS participantCount
    
    	FROM MEETING m

    	INNER JOIN MEETING_PARTICIPANT p_me
        	ON m.meeting_id = p_me.meeting_id
        	AND p_me.user_id = #{userId}

    	LEFT JOIN MEETING_PARTICIPANT p_all
        	ON m.meeting_id = p_all.meeting_id

    	<where>
    		<if test="state != null">
    			AND m.meeting_state = #{state}
    		</if>
    	</where>
    	
    	GROUP BY m.meeting_id
    	ORDER BY m.start_time ASC
    </select>
    
    <insert id="createMeeting" useGeneratedKeys="true" keyProperty="meetingId">
    	INSERT INTO MEETING (title, start_time, location, location_type, capacity, token, meeting_state, invite_expiresAt, meeting_url)
    	VALUES (#{title}, #{startTime}, #{location}, #{locationType}, #{capacity}, #{token}, #{meetingState}, #{inviteExpiresAt}, #{meetingUrl})
    </insert>
</mapper>