<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamproject.meeting.mapper.Minutes">
    <insert id ="createMeeting" useGeneratedKeys="true" keyProperty="minutesId">
    	INSERT INTO MINUTES (meetingId, minutesUrl)
    	VALUES (#{meetingId}, #{minutesUrl})
    </insert>
</mapper>